<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="http://localhost:3001/Web/css/style.css" />
    <script src="http://localhost:3001/Web/js/script.js"></script>
  </head>

  <body>
    <div id="mapUTSJR"></div>
    

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCD6M2L1Mz4P_Ll3uYbK7GMMlUJrBzq-Lc&callback=initMap&v=weekly"
      async
    ></script>
  </body>
</html>